<header class="header">
  <app-header></app-header>
  <app-side-bar></app-side-bar>
</header>
<!-- HEADER END -->
<div class="page-content">

  <div class="container">
    <div class="card-reveal">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Authors: {{paper.authors.toString()}}</div>
        </li>
        <!--<li>-->
          <!--<div class="collapsible-header"><i class="material-icons">place</i>Type: {{paper.type}}</div>-->

        <!--</li>-->
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>PublishDate: {{paper.publishDate}}</div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Citations: {{paper.citations}}</div>
        </li>

      </ul>
    </div>
  </div>
    <div id="graph"></div>
  </div>

<footer class="page-footer">
  <app-footer></app-footer>
</footer>
<!-- FOOTER END -->

